<header class='top_page_header'>
  <div class='search-bar-contents'>
   <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
    <form class='search-form' action="#">
    <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "ecalbt014_002.png", class:"search-icon" %>
      </button>
    </form>
  </div>

  <% if nursing_teacher_signed_in? %>
    <div class='user-name'>
      <%= "#{current_nursing_teacher.last_name} 先生 こんにちは" %>
    </div>
  <% end %>
</header>