<header class='top_page_header'>
  <div class='search-bar-contents'>
   <%= link_to image_tag('cuota-sample.png', class:"cuota-icon"), "/" %>
    <form class='search-form' action="#">
    <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "ecalbt014_002.png", class:"search-icon" %>
      </button>
    </form>
  </div>
</header>